.header{

    background-color: $verde;

    .contenido-header{
        
        padding: $separacion/8 0;
        
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $separacion/2 0;
        }
    }
    
    h1,.home--rock{
        color: $blanco;
        margin-bottom: .5rem;
        text-align: center;
        

        @include tablet{
            margin-bottom: 0;
            font-size: 4rem;
            margin-bottom: 1rem;
        }
    }

    &.fijo{
        position: fixed;
        width: 100%;
        
        z-index: 20;
        box-shadow: 0 .3rem .4rem #444;
    }

}

.navegacion-principal{
    display: flex;
    gap: 2rem;
    justify-content: center;
    a{
        color: $blanco;
        font-size: 1.3rem;
        &:hover{
            color: $amarillo;
        }
        @include tablet {
            font-size: 2rem;
        }
    }
}